<div class="box">
	<p class="box"><b>Please carefully fill out the form below:</b></p>
</div>
<div class="box">
	<div class="box">
	<form class="box" action="/user" target="_self" method="post">
    <fieldset class="box">
    <div class="box">
    	<legend class="box">Personal Info:</legend>
    </div>
    <div class="box">
  		<p class="box">Name <input class="box" type="text" autofocus="" placeholder="first">    <input class="box" type="text" placeholder="last"><br><br></p>
  	</div>
  	<div class="box">
  		<p class="box">Email <input class="box" type="email"><br></p>
  	</div>
  	<div class="box">
  		<p class="box">Username <input class="box" type="username"></p>
  	</div>
  	<div class="box">
 		<p class="box">***MUST BE:<br></p>
 	</div>
 	<div class="box">
  		<p class="box">-Between 5 to 20 characters</p>
  	</div>
  	<div class="box">
  		<p class="box">-Must not contain special characters (such as !,#,$,@,',",>,<,? etc.)</p>
  	</div>
  	<div class="box">
  		<p class="box">Password  <input class="box" type="password" method="post"><br></p>
  	</div>
  	<div class="box">
  		<p class="box">***MUST BE:<br></p>
  	</div>
  	<div class="box">
  		<p class="box">-Atleast 8 characters</p>
  	</div>
  	<div class="box">
  		<p class="box">-Contain a letter</p>
  	</div>
  	<div class="box">
  		<p class="box">-Contain a number</p>
  	</div>
  	<div class="box">
  		<p class="box">-Contain a special character (such as !,#,$,@,',",>,<,? etc.)</p><br>
  	</div>
  <div class="box">
  	<p class="box">Password Again <input class="box" type="password" method="post"><br></p>
  </div>
  <div class="box">
  	<p class="box">Date of Birth <input class="box" type="date"><br></p>
  </div>
  
<div class="box">
<legend class="box">Payment Information</legend>
</div>
<div class="box">
<p class="box">Card Number:
<input type="number" name="number"><br></p>
</div>
<div class="box">
<p class="box">Security Code:
<input type="number" name="number"><br></p>
</div>
<div class="box">
<p class="box">Expiration Date:
<input type="month"><br></p>
</div>
<div class="box">
<p class="box"><b>Please Read And Accept The Agreement Below:</b></p><br>
  <textarea class="box"></textarea>
  <br>
  <br>
</div>
<div class="box">
<input type="checkbox" value="Agree" class="box"><p> Yes, I accept the Legal Terms of Services </p><br><br>
</div>
<div class="box">
  <input type="submit" value="Submit" class="box"><br><br><br>
</div>
<div class="box">
  <p class="box">OR</p>   <input class="box" type="button" onclick="document.location='Login.html'" value="Sign In"></button><br>
</div>
</fieldset>
</form>
</div>
</div>