<div class="container-fliud row">
			<div class="col-md-4 btn-warning">
				<p>bulletin</p>
			</div>
			<div class="col-md-4 btn-warning">
				<p>dooerrs</p>
			</div>
			<div class="col-md-4 btn-danger">
				<p>profile</p>
				<a class="btn-success">my profile</a>
				<a class="btn-warning">my posts | offers</a>
				<a class="btn-info">my posts to fulfill</a>
				<a class="btn-warning">reviews</a>
				<a class="btn-primary">account</a>
				<a class="btn-success">log out</a>
			</div>
		</div>

		<!-- Below is the search bar -->
    <div class="box">
      <div class="box">
        <input class="box" type="search" placeholder="Search Keyword">
      </div>
      <div class="box">
        <select class="box">
      	 <option value="newtoold">Newest to Oldest</option>
      	 <option value="oldtonew">Oldest to Newest</option>
      	 <option value="hightolowp">Highest to Lowest Price</option>
      	 <option value="lowtohighp">Lowest to Highest Price</option>
      	 <option value="hightlowr">Highest to Lowest Rating</option>
      	 <option value="lowtohighr">Lowest to Highest Rating</option>
      </select>
    </div>
    <div class="box">
      <input class="box" type="button" value="Search">
    </div>
  </div>