<!DOCTYPE html>
<html>
  <head>
    <title>Doeer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    	<div class="container-fliud row">
		<div class="col-md-4 btn-warning">
			<p>bulletin</p>
		</div>
		<div class="col-md-4 btn-warning">
			<p>dooerrs</p>
		</div>
		<div class="col-md-4 btn-danger">
			<p>profile</p>
			<a class="btn-success">my profile</a>
			<a class="btn-warning">my posts | offers</a>
			<a class="btn-info">my posts to fulfill</a>
			<a class="btn-warning">reviews</a>
			<a class="btn-primary">account</a>
			<a class="btn-success">log out</a>
		</div>
	</div>

<!--SEARCHBAR-->
	<div class="box">
	    <div class="box">
	    	<input class="box" type="search" placeholder="Search username">
	    </div>
	    <div class="box">
	    	<p> Rating  <input class="box" type="search" placeholder="minimun"></p>
	       ~ <input class="box" type="search" placeholder="maximum">
	    </div>
	    <div>
	    	<input class="box" type="button" value="Search">
	    </div>
	 </div>

    <%= yield %>
  </body>
</html>
